{% extends 'base/base.html' %}
{% block title %} Posts {% endblock %}

{% block content %}
<h1 align="center">Post</h1>

<div class="container">
  {% for post in posts %}

  <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      {% for image in post.files.all %}
          <a href="{{ image.file.url }}"><img src="{{ image.file.url }}" class="card-img-top" alt="image"></a>
      {% endfor %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.text|slice:"100"|safe }}</p>
        <li class="list-group-item">{{ post.user }}</li>
        <p class="card-text"><small class="text-body-secondary">{{ post.category }}</small></p>
      </div>
      <div class="card-body">
        <a href="{% url 'post_detail_view' post.id %}" class="card-link">More...</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
</div>
    <br>
    {% endfor %}
</div>
{% endblock %}